<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!-- Chest -->
    <dict>
        <key>id</key>
        <string>0-0-0</string>
        <key>name</key>
        <string>Push up</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-0-1</string>
        <key>name</key>
        <string>Close Hand Pushup</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-0-2</string>
        <key>name</key>
        <string>Wide Hand Pushup</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-0-3</string>
        <key>name</key>
        <string>Push Up to Side Plank</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-1-0</string>
        <key>name</key>
        <string>Bench Pushups</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>bench</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-2-0</string>
        <key>name</key>
        <string>Barbell Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-2-1</string>
        <key>name</key>
        <string>Barbell Decline Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-2-2</string>
        <key>name</key>
        <string>Barbell Decline Pullover</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-2-3</string>
        <key>name</key>
        <string>Barbell Incline Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-2-4</string>
        <key>name</key>
        <string>Barbell Wide Grip Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-4-0</string>
        <key>name</key>
        <string>Dumbbell Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-4-1</string>
        <key>name</key>
        <string>Dumbbell Decline Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-4-2</string>
        <key>name</key>
        <string>Dumbbell Fly</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-4-3</string>
        <key>name</key>
        <string>Dumbbell Incline Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-5-0</string>
        <key>name</key>
        <string>Cable Cross-Over</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-5-1</string>
        <key>name</key>
        <string>Cable Decline Chest Fly</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-5-2</string>
        <key>name</key>
        <string>Cable Decline Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-5-3</string>
        <key>name</key>
        <string>Cable Incline Press Images</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-5-4</string>
        <key>name</key>
        <string>Cable Rope Supine Pullover</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-6-0</string>
        <key>name</key>
        <string>Kettlebell Alternating Floor Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>kettleBell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-7-0</string>
        <key>name</key>
        <string>Weighted Push Up</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>weightPlate</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-8-0</string>
        <key>name</key>
        <string>Bench Press Machine</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-8-1</string>
        <key>name</key>
        <string>Machine Butterfly</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-8-2</string>
        <key>name</key>
        <string>Machine Incline Chest Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>0-8-3</string>
        <key>name</key>
        <string>Machine Inner Chest Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>chest</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <!-- Biceps -->
    <dict>
        <key>id</key>
        <string>1-2-0</string>
        <key>name</key>
        <string>Barbell Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-2-1</string>
        <key>name</key>
        <string>Barbell Drag Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-2-2</string>
        <key>name</key>
        <string>Barbell Preacher Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-2-3</string>
        <key>name</key>
        <string>Barbell Standing Wide Grip Biceps Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-4-0</string>
        <key>name</key>
        <string>Dumbbell Alternating Bicep Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-4-1</string>
        <key>name</key>
        <string>Dumbbell Alternating Incline Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-4-2</string>
        <key>name</key>
        <string>Dumbbell Cross Body Hammer Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-4-3</string>
        <key>name</key>
        <string>Dumbbell Preacher Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-5-0</string>
        <key>name</key>
        <string>Cable Overhead Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-5-1</string>
        <key>name</key>
        <string>Cable Pulldown Bicep Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-5-2</string>
        <key>name</key>
        <string>Cable Standing Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-8-0</string>
        <key>name</key>
        <string>Machine Curl With Hammer Grip</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1-8-1</string>
        <key>name</key>
        <string>Preacher Curl Machine</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>biceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <!-- Triceps -->
    <dict>
        <key>id</key>
        <string>2-0-0</string>
        <key>name</key>
        <string>Close Triceps Pushup</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-1-0</string>
        <key>name</key>
        <string>Bench Dip Images</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>bench</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-1-1</string>
        <key>name</key>
        <string>Single Bench Dip</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>bench</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-2-0</string>
        <key>name</key>
        <string>Barbell Back of the Head Tricep Extension</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-2-1</string>
        <key>name</key>
        <string>Barbell Close Grip Bench Press</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-2-2</string>
        <key>name</key>
        <string>Barbell Close Grip Press Behind the Neck</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-5-0</string>
        <key>name</key>
        <string>Cable High Pulley Tricep Extension</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-5-1</string>
        <key>name</key>
        <string>Cable Rope Triceps Pushdown</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-5-2</string>
        <key>name</key>
        <string>Cable Tricep Extension</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-7-0</string>
        <key>name</key>
        <string>Weighted Bench Dip</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>weightPlate</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-8-0</string>
        <key>name</key>
        <string>Dip Machine</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-8-1</string>
        <key>name</key>
        <string>Machine Assisted Dip</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-8-2</string>
        <key>name</key>
        <string>Machine Triceps Extension</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2-8-3</string>
        <key>name</key>
        <string>Seated Tricep Dip</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>triceps</string>
        <key>equipment</key>
        <string>machine</string>
    </dict>
    <!-- ForeArms -->
    <dict>
        <key>id</key>
        <string>3-2-0</string>
        <key>name</key>
        <string>Barbell Palms Down Wrist Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-2-1</string>
        <key>name</key>
        <string>Barbell Palms Up Wrist Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-2-2</string>
        <key>name</key>
        <string>Barbell Reverse Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-2-3</string>
        <key>name</key>
        <string>Barbell Reverse Preacher Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>barbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-4-0</string>
        <key>name</key>
        <string>Dumbbell Seated Wrist Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-4-1</string>
        <key>name</key>
        <string>Dumbbell Standing Alternate Reverse Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>dumbbell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-5-0</string>
        <key>name</key>
        <string>Cable Reverse Grip Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-5-1</string>
        <key>name</key>
        <string>Cable Standing Behind the Back Wrist Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-5-2</string>
        <key>name</key>
        <string>Seated Two Arm Palms Up Low Pulley Wrist Curl</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>cable</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-6-0</string>
        <key>name</key>
        <string>Kettlebell Bottoms Up Clean From The Hang Position</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>kettleBell</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3-7-0</string>
        <key>name</key>
        <string>Weight Plate Pinch</string>
        <key>type</key>
        <string>weight</string>
        <key>muscleGroup</key>
        <string>forearm</string>
        <key>equipment</key>
        <string>weightPlate</string>
    </dict>
    <!-- Upper Legs -->
    <dict>
        <key>id</key>
        <string>6-0-0</string>
        <key>name</key>
        <string>Bodyweight Lunge</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>upperLegs</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>6-0-1</string>
        <key>name</key>
        <string>Sit Squat</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>upperLegs</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>7-0-0</string>
        <key>name</key>
        <string>One Leg Calf Raise</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>lowerLegs</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-0</string>
        <key>name</key>
        <string>Crunches</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-1</string>
        <key>name</key>
        <string>Leg Raise</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-2</string>
        <key>name</key>
        <string>Air Bike</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-3</string>
        <key>name</key>
        <string>Alternate Heel Touchers</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-4</string>
        <key>name</key>
        <string>Plank</string>
        <key>type</key>
        <string>duration</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
    <dict>
        <key>id</key>
        <string>8-0-5</string>
        <key>name</key>
        <string>Side Bridge</string>
        <key>type</key>
        <string>rep</string>
        <key>muscleGroup</key>
        <string>abdos</string>
        <key>equipment</key>
        <string>bodyOnly</string>
    </dict>
</array>
</plist>
